<h1>
  <!-- {{title}} -->
</h1>
<hr>
  <nav style="text-align: center;">
    <a [routerLink]="['/pagina-principal']">
      Inicio
    </a>
    |
    <a [routerLink]="['/fruta']">
      Frutas
    </a>
    |
    <a [routerLink]="['/empleado']">
      Empleado
    </a>
    |
    <a [routerLink]="['/contacto']">
      Contacto
    </a>

  </nav>
<hr>
  <!-- fruta componente -->
  <!-- <fruta></fruta> -->
  <!-- empleado componente -->
  <!-- <empleado-tag></empleado-tag> -->

<!-- se llama al componente de una manera especial router-outlet -->
<router-outlet></router-outlet>